{{define "body"}}

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width"/ >
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-6"/>
        <title>
        
        </title>

    </head>

    <p>
        {{.message}}
    </p>
</html>

{{end}}